@import "../../../../assets/styles/auth-form.scss";

.signup {
  margin-top: 10px;

  .container {
    display: flex;

    .page-image {
      display: flex;
      margin-left: 222px;

      img {
        vertical-align: bottom;
      }
    }
  }
}
